body{
    position: relative;
}

#squareDiv{
    position: absolute;

    width: 200px;
    height: 200px;
    left: 0px;
    top: 0px;

    background-color: red;

    color: white;
    font-size: 36px;
    text-align: center;

}