.wrapper{
    width: 100%;
}

.header{
    width: 100%;
    height: 100px;
    background-color: red;
}

.container-2{
    display: flex;
}

.block-1{
    width: 30%;
    height: 200px;
    background-color: aqua;
}
.block-2{
    width: 70%;
    height: 200px;
    background-color: yellow;
}