.first{
    background-color: red;
    height: 200px;
    width: 200px;

    position: fixed;
    left:80px;
    top:50px;
}
.second{
    background-color: green;
    height: 900px;
    width: 200px;
}
.third{
    background-color: blue;
    height: 900px;
    width: 200px;
}