.first{
    background-color: red;
    height: 500px;
    width: 500px;

    position: relative;
    left: 300px;
    top:100px;
}
.second{
    background-color: green;
    height: 200px;
    width: 200px;
}
.third{
    background-color: blue;
    height: 200px;
    width: 200px;

    position: absolute;

    left: 10px;
    top:20px;
}