.main-news{
    background-color: yellow;
    text-align: center;
}

.h2-red{
    color:red;
}

.h3-blue{
    color:blue;
    text-align: right; 
}

.p-green{
    color:green;
    font-weight: 1000;
    font-size: 18px;
}

.square-markers{
    list-style-type: square;
}
.circle-markers{
    list-style-type: circle;
}

.li-important{
    background-color: yellow;
}