.wrapper
{
    width: 500px;
    height: 500px;
    display: flex;
    background-color: yellow;  
    align-items: flex-end;
    justify-content: flex-end;
}
.block{
    width: 20%;
    height: 20%;
    background-color: red;
}