body{
    margin: 0px;
    padding: 0px;
}

.container{
    display: flex;
}

.text{
    margin-left: 100px;
    margin-top:50px;
    margin-right: 100px;
    margin-bottom: 100px;
    
    border-style: solid;
    border-width: 5px;
    border-color:red;

    padding-left:50px;
    padding-top:20px;
    padding-bottom:40px;

    width: 300px;
    height: 200px;

    background-color: orange;
}