body{
    font-size:26px;
    color:white;
}
.bgc-red{
    background-color: red;
    grid-area: header;
}
.bgc-green{
    background-color: green;
    grid-area: item1;
}
.bgc-blue{
    background-color: blue;
    grid-area: item2;
}
.bgc-orange{
    background-color: orange;
    grid-area: item3;
}
.bgc-brown{
    background-color: brown;
}
.bgc-yellow{
    background-color: yellow;
}

.grid-container{
    width: 100%;
    background-color: gray;

    display: grid;
    grid-template-columns: 60px 60px 60px;
    grid-template-rows: 60px 60px 60px;

    grid-column-gap: 20px;
    grid-row-gap:20px;

    grid-template-areas: 
        "item1 item1 item3"
        "item2 item2 item3"
        "item2 item2 item3";

    justify-content: center;
}
.grid-container div{
    text-align: center;
}